@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model Order

<br />
<a class="our-custom-button" asp-controller="Home" asp-action="OrderHistory">Back</a>
<br /><br />
<h4>
    Order #: @Model.TransactionId
</h4>
<br /><br />
<p>Customer ID: @Model.CustomerId</p>
<p>Amount: @Model.Amount</p>
<p>Date: @Model.Date</p>
<p>Phone: @Model.ShippingAddress</p>
<p>Email: @Model.TransactionCountry</p>
<p>Fraudulent?: @Model.Fraud</p>
 
    @if (Model.Fraud == true)
    {
    <p>Status: Pending</p>
} else
{
    if (Model.IsCompleted == true)
    {
        <p>Status: Completed</p>
    } else
    {
        <p>Status: Not Completed</p>
    }
}
<br />
<a class="our-custom-button" asp-controller="Product" asp-action="ViewLineItems" asp-route-id="@Model.TransactionId">See Order Items</a>

