@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@* @model ProductsListViewModel *@

@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityUser>


<h1>Users (Admin View)</h1>

@* <table class="table">
    <thead>
        <tr>
            <th>Customer ID</th>
            <th>Username</th>
            <th>Age</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Customer customer in Model.Customers)
        {
            <tr>
                <td>@customer.CustomerId</td>
                <td>@customer.CustomerFirstName @customer.CustomerLastName</td>
                <td>@customer.Age</td>
                <td><button class="btn btn-primary">Edit</button></td>
                <td><button class="btn btn-danger">Delete</button></td>
            </tr>
        }
    </tbody>
</table>
 *@

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>Username</th>
            <th>Delete</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td><a asp-controller="User" asp-action="UserDetails" asp-route-id="@user.Id">@user.Id</a></td>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                @* <td><a asp-controller="Home" asp-action="" asp-route-id="">Edit</a></td> *@
                <td><a asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@user.Id">Delete</a></td>
            </tr>
        }
    </tbody>
</table>