@model IEnumerable<BrickwellStore.Data.Product>

@{
    ViewData["Title"] = "Home Page";
}

<div class="homeBanner"><img src="~/img/Home Banner.png" alt="home banner"/></div>
<!--stuff-->

<div class="recommendations">
    <h2>Recommendations for You</h2>
    @foreach (var product in Model)
    {
        <div class="product">
            <h3>@product.Name</h3>
            <p>@product.Description</p>
            <img src="@product.ImgLink" style="width:100px" />
            <p>@product.Name - $@product.Price</p>
            <a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@product.ProductId">View Details</a>
            <!-- Include more details as needed, like an image or a link to the product page -->
        </div>
    }
</div>

