@{
    ViewData["Title"] = "Home Page";
}

@model ProductsListViewModel

<h1>Shop</h1>


<div class="container mt-3">
    <!-- Filter Label and Dropdown Menus -->
    <!-- Adding the Filter by label -->
    <div class="d-inline mx-2 align-middle">
        <span>Filter by:</span>
    </div>

    <div class="dropdown d-inline mx-2">
        <button class="btn btn-secondary dropdown-toggle" style="width: 200px" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
            @if (@Model.CurrentProductColor != null)
            {
                <span>@Model.CurrentProductColor </span>
            }
            else
            {
                <span>Product Color</span>
            }
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
            <vc:product-colors />
        </div>
    </div>

    <div class="dropdown d-inline mx-2">
        <button class="btn btn-secondary dropdown-toggle" style="width: 200px" type="button" id="dropdownMenuButton2" data-bs-toggle="dropdown" aria-expanded="false">
            @if (@Model.CurrentProductCategory != null)
            {
                <span>@Model.CurrentProductCategory </span>
            }
            else
            {
                <span>Product Category</span>
            }
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton2">
            <vc:product-categories />
        </div>
    </div>


    <form class="d-inline" method="get" action="@Url.Action("Product", "Home")">
        <label for="itemsPerPage">Items per page:</label>
        <select id="itemsPerPage" name="itemsPerPage" onchange="this.form.submit()">
            @if (Model.PaginationInfo.ItemsPerPage == 5)
            {
                <option value="5" selected="selected">5</option>
            }
            else
            {
                <option value="5">5</option>
            }

            @if (Model.PaginationInfo.ItemsPerPage == 10)
            {
                <option value="10" selected="selected">10</option>
            }
            else
            {
                <option value="10">10</option>
            }

            @if (Model.PaginationInfo.ItemsPerPage == 20)
            {
                <option value="20" selected="selected">20</option>
            }
            else
            {
                <option value="20">20</option>
            }
        </select>
    </form>


    </div>



    <div>
        <button class="our-custom-button" id="clearFiltersBtn">Clear Filters</button>
    </div>





    <style>
        .custom-col {
            flex: 0 0 20%;
            max-width: 20%;
        }
        /* This ensures there's no margin or padding issues */
        .no-gutters {
            margin-right: 0;
            margin-left: 0;
        }
        .no-gutters > .col,
        .no-gutters > [class*="col-"] {
            padding-right: 0;
            padding-left: 0;
        }
    </style>


    <!-- Product Cards -->
    <div class="row no-gutters mt-3">
        @foreach (Product p in Model.Products)
        {
            <div class="custom-col mb-3">
                <partial name="ProductSummary" model="p" />
            </div>
        }
    </div>


    <div page-model="@Model.PaginationInfo" page-action="Product" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-productColor="@Model.CurrentProductColor" page-url-productCategory="@Model.CurrentProductCategory" class="btn-group pull-right m-1"></div>



</div>

<script>
    document.getElementById('clearFiltersBtn').addEventListener('click', function () {
        // Redirect to the same page without any query parameters
        window.location.href = window.location.pathname;
    });
</script>