
@using BrickwellStore.Infrastructure


@model Product
<a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@Model.ProductId">
    <div class="custom-card shadow">
    
        <img src="@Model.ImgLink" class="custom-card-image" />
        
        <p class="card-title left-justify">
            @if (Model.Name.Length > 16)
            {
                @Model.Name.Substring(0, 16)
                <span>
    ...
                </span>
                // Adjust the number as per your requirement
            }
            else
            {
                @Model.Name
            }
        </p>
        <p class="left-justify" style="margin-bottom:10px; font-size: 20px">$@Model.Price</p>

        <form id=@Model.ProductId method="post" asp-page="/Cart">
            <input type="hidden" asp-for="ProductId" />
            <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
            <button type="submit" id="productSummaryBagButton">Add to Bag</button>
            <br />

        </form>

    </div>
</a>