

@using BrickwellStore.Infrastructure


@model Product
<a asp-controller="Product" asp-action="ProductDetails" asp-route-id="@Model.ProductId">
<div class="custom-card shadow">
    
    <img src="@Model.ImgLink" class="custom-card-image" />
    $@Model.Price
    <p class="card-title">
        @if (Model.Name.Length > 18)
        {
            @Model.Name.Substring(0, 18)
            <span>
...
            </span>
            // Adjust the number as per your requirement
        }
        else
        {
            @Model.Name
        }
    </p>


    <form id=@Model.ProductId method="post" asp-page="/Cart">
        <input type="hidden" asp-for="ProductId" />
        <input type="hidden" name="returnUrl" value="@ViewContext.HttpContext.Request.PathAndQuery()" />
        <button type="submit" class="full-width">Add to Bag</button>
        <br />

        </form>

    </div>
</a>