@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Cart
<div class="">
    @if (Model.Lines.Count() > 0 )
    {
        <div>
            <b><h2>Cart Summary:</h2><br /></b>
            @foreach (var i in @Model.Lines)
            {
                <div>@i.Product.Name (@i.Quantity)</div>
                <br />
            }
            <b>Your Cart: </b>@Model.Lines.Sum(x => x.Quantity) item(s)
            <br />
            @{
                decimal taxRate = 0.05M;
                decimal subtotal = Model.CalculateTotal();
                decimal taxAmount = subtotal * taxRate;// 5% tax rate
                decimal shippingCost = 10.00M; // Fixed shipping cost
                decimal totalWithTaxAndShipping = subtotal + (subtotal * taxRate) + shippingCost;


            }
            <b>Subtotal:</b>@Model.CalculateTotal().ToString("c")<br />
            <b>Tax:</b> @taxAmount.ToString("c") <br />
            <b>Shipping:</b> @shippingCost.ToString("c") <br />
            <b>Total </b>(including tax and shipping): @totalWithTaxAndShipping.ToString("c")
        </div>
    }
 
</div>