@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model Customer


<h4>
    @Model.CustomerFirstName @Model.CustomerLastName
</h4>
<ul>
    <li>User ID: @Model.UserId</li>
    <li>Email: @Model.Email</li>
    <li>Phone Number: @Model.Phone</li>
</ul>

<a class="btn btn-info" asp-controller="Home" asp-action="EditUser" asp-route-id="@Model.CustomerId">Edit</a>
