@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model BrickwellStore.Data.ViewModels.UserInfoViewModel
<br />
<a href="javascript:history.back()">
    <img src="~/img/back-icon.svg" />
</a>
<br />
<br />
<h4>
    @Model.UserId
</h4>
<p><a asp-controller="User" asp-action="CustomerDetails" asp-route-id="@Model.UserId">See Personal Details</a> </p>
<p>User ID: @Model.UserId</p>
<p>Customer ID: @Model.CustomerId</p>
<p>Name: @Model.CustomerFirstName @Model.CustomerLastName</p>
<p>Email: @Model.Email</p>
<p>Phone: @Model.Phone</p>
<p>Role: @string.Join(", ", Model.Roles)</p><br />

<!--Only show this button if the user is not an admin-->
@if (!Model.Roles.Contains("Admin"))
{
    <a class="btn btn-success" asp-controller="User" asp-action="MakeAdmin" asp-route-id="@Model.UserId">Make Admin?</a>
}
else
{
    <a class="btn btn-primary" asp-controller="User" asp-action="RemoveAdmin" asp-route-id="@Model.UserId">Remove Admin Privileges?</a>
}

<a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteUser" asp-route-id="@Model.UserId">Delete</a>

