@page
@model BrickwellStore.Pages.CartModel


@{
}
@* @await Component.InvokeAsync("CartSummary")
 *@

<h2>Your Cart</h2>

<h4>ID: @{var userId = ViewData["UserId"];} @userId</h4>

<table class="table table-boardered table-striped">

    <thead>
        <tr>
            <th>Project Name:</th>
            <th>Quantity:</th>
            <th class="text-right">Amount:</th>
            <th class="text-right">Subtotal:</th>
@*             <th>Edit Quantity:</th>
 *@            <th>Remove Item:</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.Name</td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-right">$@l.Product.Price</td>
                <td class="text-right">@((@l.Quantity * @l.Product.Price).ToString("c"))</td>
                <td class="text-center">
                    <form asp-page-handler="Remove" method="post">
                        <input type="hidden" name="ProductId" value="@l.Product.ProductId" />
                        <input type="hidden" name="returnUrl" value="@Model?.ReturnUrl" />
                        <input type="image" src="~/img/trash-icon.svg" class="trash-icon" alt="Remove" />
                    </form>
                </td>
            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total: </td>
            <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>


<div class="text-center">
    <a class="our-custom-button" href="@Model.ReturnUrl">Continue Shopping</a>
    <a class="our-custom-button" asp-controller="Home" asp-action="FinishCheckout" asp-route-id="@userId">Checkout</a>
</div>