@page
@model BrickwellStore.Pages.CartModel
@{
}


<h2>Your Cart</h2>

<table class="table table-boardered table-striped">

    <thead>
        <tr>
            <th>Project Name:</th>
            <th>Quantity:</th>
            <th class="text-right">Amount:</th>
            <th class="text-right">Subtotal:</th>
            <th>Edit Quantity:</th>
            <th>Remove Item:</th>
        </tr>
    </thead>

    <tbody>
        @foreach (var l in Model.Cart?.Lines ?? Enumerable.Empty<Cart.CartLine>())
        {
            <tr>
                <td class="text-left">@l.Product.Name</td>
                <td class="text-center">@l.Quantity</td>
                <td class="text-right">$@l.Product.Price</td>
                <td class="text-right">@((@l.Quantity * @l.Product.Price).ToString("c"))</td>
                <td><a class="btn btn-info" asp-controller="Home" asp-action="EditCartItem" asp-route-id="@l.CartLineId">Edit</a></td>
                <td><a class="btn btn-danger" asp-controller="Home" asp-action="DeleteCartItem" asp-route-id="@l.CartLineId">Delete</a></td>
@*                 <td>
                    <a class="btn btn-danger" asp-page-handler="DeleteCartItem" asp-route-index="@l">Delete</a>
                </td> *@


            </tr>
        }
    </tbody>

    <tfoot>
        <tr>
            <td colspan="3" class="text-right">Total: </td>
            <td class="text-right">@Model.Cart?.CalculateTotal().ToString("c")</td>
        </tr>
    </tfoot>
</table>


<div class="text-center">
    <a class="btn btn-primary" href="@Model.ReturnUrl">Continue Shopping</a>
    <a class="btn btn-primary" asp-controller="Home" asp-action="Checkout">Checkout</a>
</div>