@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model ProductsListViewModel

<h1>Orders</h1>

@* @foreach (Product p in Model.Products)
{
    <partial name="ProductSummary" model="p" />
}

<div page-model="@Model.PaginationInfo" page-action="Product" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-primary" page-url-productColor="@Model.CurrentProductColor" class="btn-group pull-right m-1"></div>
 *@

<table class="table">
    <thead>
        <tr>
            <th>Order ID</th>
            <th>Customer ID</th>
            <th>Date</th>
            <th>Fraud?</th>
            <th>Completion Status</th>
            <th>View Order</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Order order in Model.Orders)
        {
            <tr>
                <td>@order.TransactionId</td>
                <td>@order.CustomerId</td>
                <td>@order.Date</td>
                <td>@order.Fraud</td>
                <td>@order.IsCompleted</td>
                <td><a class="our-custom-button-sm" asp-controller="Order" asp-action="OrderDetails" asp-route-id="@order.TransactionId">View</a></td>
            </tr>
        }
    </tbody>
</table>


